# .gitignore
__pycache__/
.env/
*.pyc
.env
*.html
*.zip
*.log
*.xlsx

# Ignore output files
src/*/output/
src/*/output/**/*

# Ignore input data files (chart data, market data)
src/*/input/chart_data/
src/*/input/market_order_book/
src/*/input/**/*.csv

# Ignore paticular input files
src/algo3_break_new_high/input/*/*.csv
